@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('../font/Cafe24Ohsquare.ttf') format('opentype');
}

@media (max-width : 670px) {
    .gameheader {
        width: 100%;
    }

    .date {
        position: relative;
        top: 50px;

        color: #474fee;
        -webkit-text-stroke: 1.5px black; /* 테두리 두께 2px, 색상 검정 */
        font-family: 'Cafe24Ohsquare', sans-serif;
        font-size: 40px;
    }

    .justline {
        width: 300px;
        height: 5px;

        background-color: #474fee;

        position: absolute;
        top: 380px;
        right: 185px;

        border: 1px solid black;
    }

    .ktzlogo {
        width: 150px;
        height: 150px;
    }

    .versus {
        margin-top: 60px;
        margin-left: 10px;

        font-size: 30px;
        font-family: 'Cafe24Ohsquare', 'sans-serif';
        color: #474fee;
        -webkit-text-stroke: 1px black;
    }

    .kiwoomlogo {
        width: 150px;
        height: 150px;
    }

    .teams {
        display: flex;
        flex-direction: row;

        gap: 10px;
    }

    .Games {
        display: flex;
        flex-direction: column;

        gap: 80px;
        align-items: center;
    }

    .pbox {
        width: 150px;
        height: 35px;
        background-color: white;

        border: 1px solid #474fee;
        border-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pbox2 {
        width: 150px;
        height: 35px;
        background-color: white;

        border: 1px solid #86001f;
        border-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .num {
        width: 35px;
        height: 35px;

        background-color: #474fee;

        border-radius: 35px;

        color: white;
        font-family: 'Cafe24Ohsquare', 'sans-serif';

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .num2 {
        width: 35px;
        height: 35px;

        background-color: #86001f;

        border-radius: 35px;

        color: white;
        font-family: 'Cafe24Ohsquare', 'sans-serif';

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nums {
        display: flex;
        flex-direction: row;

        gap: 20px;
    }

    .gplayer {
        font-size: 20px;
        font-family: 'PyeongChang', 'sans-serif';
    }

    .ktzLineup {
        position: absolute;
        left: 70px;
        top: 560px;

        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .pitcher {
        font-size: 30px;
        font-family: 'Cafe24Ohsquare', 'sans-serif';

        color: #474fee;

        margin-left: 60px;
    }

    .pitcher2 {
        font-size: 30px;
        font-family: 'Cafe24Ohsquare', 'sans-serif';

        color: #86001f;

    }

    .lineup {
        display: flex;
        flex-direction: row;
        gap: 80px;
    }

    .kiwoomLineup {
        position: absolute;
        left: 400px;
        top: 560px;

        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}
