.container {
    width : 100%;
    height : 1440px;
    background-color: #474fee;
}

.kittyLogo {
    width : 600px;
    height : 600px;
    position: absolute;
    top : 70px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width : 670px) {
    .kittyLogo {
        width: 600px;
        height: 600px;

        position: absolute;
        top: 400px;
    }
}