.container {
    width : 100%;
    height : 1000px;
    background-color: #474fee;
}

.kittyLogo {
    width : 600px;
    height : 600px;
    position: absolute;
    top : 70px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width : 430px) {
    .kittyLogo {
        width: 450px;
        height: 450px;

        position: absolute;
        top: 200px;
    }
}